@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* p{
    text-align: ;
    font-size: 1rem;
    font-family: ;
    font-style: ;
    line-height: ; (найуніверсальніше задавати коефіцієнтом)
} */


body {
    font-family: Lato, sans-serif;
    /* font-weight: 400;
    font-style: normal; */
    line-height: 1.15;
}

h2{
    border: 2px solid red;
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    padding: 10px;
    text-overflow: ellipsis;
}

div{
    white-space: pre;
}