
/* Селектор тегу (типу) 0001 */
h1 {
    color:blue;
}


/* Селектор класу 0010*/
.annotation {
    font-size: 10px;
}

p {
    font-size: 20px; 
 }

 /* Селектор ідентифікатора 0100 */
#subscribe-btn {
    color: red !important;
}


/*subscribe-btn : cebab-case
subscribeBtn : camelCase (
                lowerCamelCase
                UpperCamelCase (PascalCase)
                )
 subscribe_btn : snake_case 
 I_AM_CONSTANT
 */              



/*
Каскадність - якщо одна і та сама властивість визначена для одного і того самого селектора, то пріорітетна та, що оголошена останньою */

/* Специфічнічть - якщо одна і та сама властивість запсиана в різних по специфічності селеткорах, то пріорітетніша в селекторі з більшою вагою */